<h1>Сменить пароль</h1>
{{#if errorLogin}}
    <p class="loginError">{{errorLogin}}</p>
{{/if}}
<form action="/aouth/password" method="POST">
    <div class="input-field">
        <input  type="password" id="password"  name="password" class="validate" required>
        <label for="password">Введите новый пароль</label>
        <span class="helper-text" data-error="Введите ваш пароль" data-success="Верно"></span>
    </div>
        <div class="input-field">
        <input  type="password" id="repeatPassword"  name="repeatPassword" class="validate" required>
        <label for="repeatPassword">Повторите новый пароль</label>
        <span class="helper-text" data-error="Введите ваш пароль" data-success="Верно"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="idUser" value="{{isId}}">
    <input type="hidden" name="token" value="{{isToken}}">
    <button class="btn btn-primary">Сменить пароль</button>
</form>         